[user]
    name = Romain Giraud
    email = xxx@yyy.zz
[color]
    ui = true
[alias]
    st = status
    lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an)%Creset %C(blue)<%cr>%Creset'
    dt = difftool
    mt = mergetool
    br = branch -avv
[core]
    pager = mpager
[push]
    default = upstream
[diff]
    tool = vimdiff
    wordRegex = .
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[pull]
    rebase = preserve
[status]
    showuntrackedfiles = all
[fetch]
    prune = true
